.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    column-gap: 18px;
    row-gap: 21px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .gallery {
    row-gap: 20px;
    }
    }