.button_type_submit {
    max-width: 358px;
    margin-top: 48px;
    margin-bottom: 36px;
    width: 83%;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
}

@media screen and (max-width: 768px) {
    .button_type_submit {
        margin-top: 24px;
        margin-bottom: 18px;
    }
}

.button_type_submit:hover {
    opacity: .8;
}