.header {
    width: 88vw;
    max-width: 882px;
    min-height: 119px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(84,84,84,.7);
}

@media screen and (max-width: 768px) {
    .header {
        min-height: 84px;
        height: 26.25vw;
        max-height: 119px;
    }
    }