.button__edit {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-color: #000;
    background-image: url(../../../images/pen.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 17px;
    box-sizing: border-box;
    transition: .5s;
}

.button__edit:hover {
    opacity: .6;
    cursor: pointer;
}